	/*body {
				padding: 0;
				font-size: 10pt;
				behavior: url(css/csshover.htc);
			}*/
	
	.topmenu {
		display: block;
		width: 220px;
		border: 2px solid #e4393c;
		margin: 0;
		padding: 0;
	}
	
	.toptitle {
		height: 40px;
		line-height: 40px;
		text-align: left;
		font-size: 11pt;
		font-weight: bold;
		color: White;
		background: #e4393c;
		padding-left: 20px;
	}
	
	.topmenu li {
		height: 30px;
		line-height: 30px;
		font-size: 11pt;
		list-style-type: none;
		text-align: left;
		padding-left: 8px;
		z-index: 3;
		background-image: url(1.png);
		background-repeat: no-repeat;
		background-position: right;
	}
	
	.topmenu li a {
		text-decoration: none;
		color: #313131;
	}
	
	.topmenu li a:hover {
		text-decoration: underline;
		font-weight: bold;
		color: #e4393c;
	}
	
	.topmenu .lihover {
		border: 1px solid #DDD;
		border-right: 0;
		box-shadow: 0 0 8px #DDD;
		-moz-box-shadow: 0 0 8px #DDD;
		-webkit-box-shadow: 0 0 8px #DDD;
		background-image: none;
		height: 60px;
		border-left: 4px solid #e4393c;
	}
	
	.topmenu .lihover .submenu {
		display: block;
	}
	
	.topmenu .lihover span {
		background: white;
		display: inline-block;
		z-index: 2;
		width: 20px;
		height: 60px;
		float: right;
		position: relative;
	}
	
	
	
	.submenu {
		display: none;
		width: 205px;
		left: 160px;
		position: absolute;
		top: 180px;
		border: 1px solid #DDD;
		z-index: 4;
		background: white;
		box-shadow: 0 0 8px #DDD;
		-moz-box-shadow: 0 0 8px #DDD;
		-webkit-box-shadow: 0 0 8px #DDD;
	}
	
	.leftdiv {
		float: left;
		width: 205px;
		margin: 5px;
	}
	
	
	
	.leftdiv dl {
		display: block;
		border-bottom: 1px solid #EEE;
		padding-bottom: 6px;
		overflow: hidden;
	}
	
	.leftdiv dl dt {
		display: block;
		float: left;
		width: 130px;
		text-align: right;
		height: 35px;
		/*line-height: 22px;*/
		padding-right: 6px;
	}
	
	.leftdiv dl dt a {
		color: #e4393c;
		font-weight: bold;
		text-decoration: underline;
		font-size: 10pt;
	}
	
	.leftdiv dl dd {
		display: block;
		overflow: hidden;
	}
	
	.leftdiv dl dd a {
		display: block;
		float: left;
		border-left: 1px solid #CCC;
		color: #737373;
		font-size: 9pt;
		padding: 0 8px;
		height: 14px;
		line-height: 14px;
		margin: 4px 0;
	}
	
	