<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>

		<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="StyleSheets/sit-nav.css">
		<link type="text/css" rel="stylesheet" href="StyleSheets/main-nav.css">

		<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
		<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
		<link rel="stylesheet" href="StyleSheets/sort_nav.css" />
		<script src="js/sort_nav.js"></script>
		
		<style>
			.slide_middle{ margin-left: 360px;width: 600px;}
			.sort_left{width: 200px;float: left;}
		</style>
	</head>

	<body>
		<div id="head">
			<div id="site-nav" class="site-nav">
				<div class="container">
					{if condition="!isset($username)"}
					<div class="group user-action J-user-action">
						<a class="item" href="index/index/login" rel="nofollow" onclick="">login</a>
						<a class="item" href="index/User/signin" rel="nofollow" onclick="">Sign&nbsp;In</a>
						<a class="item" href="index/Manager/ManagerIndex" rel="nofollow" onclick="">Manager</a>
					</div>
					{else/}
					<div class="group user-action J-user-action">
						<a class="item" href="index/login/logout" rel="nofollow" onclick="">Exit</a>
						<a class="item" href="index/User/index" rel="nofollow" onclick="">detailed information</a>
						<a class="item" href="index/User/password" rel="nofollow" onclick="">change password</a>
						{if condition="isset($adminID)"}
						<a class="item" href="index/Admin/index" rel="nofollow" onclick="">New Product</a>
						<a class="item" href="index/Admin/newAdmin" rel="nofollow" onclick="">New Admin</a>
						<a class="item" href="index/Admin/order_check_admin" rel="nofollow" onclick="">Check all orders</a>
						<a class="item" href="index/Admin/product_check_admin" rel="nofollow" onclick="">Check all products</a>
						{else/}
						<a class="item" href="index/User/order_check_customer" rel="nofollow" onclick="">Check orders</a>
						{/if}
					</div>
					{/if}
					<div style="float: left;margin-left:360px;padding-top: 10px;">
						{if condition="isset($name)"}
						Welcome {$name}!
						{else/}
						Welcome to Pitt Zhong Guan Cun !
						{/if}
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<nav class="navbar navbar-default" role="navigation">
							<div class="navbar-header">

								<img title="fei fish" src="png/logo.jpeg" style="float: left;width: 50px;height:50px ;" class="logo" />

								<a class="navbar-brand" href="">Pitt Zhong Guan&nbsp;Cun</a>
							</div>
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<form class="navbar-form navbar-right" role="search" action="index/search/index" method="get">

									<div class="form-group">
										Total Number of Sales on Pitt ZGC:<span style="color:red;font-size:40px;">{$quantitySum}</span>
										<input type="text" name="keyword" class="form-control" style="width: 300px"/>
									</div> <button type="submit" class="btn btn-default">Submit</button>
								</form>
								
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div id="slide_show">
			<div class="container">
				<div class="row clearfix">
					<div  class="sort_left" >
						<ul class="topmenu">
							<div class="toptitle">
								All sort items
							</div>

							<li>
								<a href="#">CPU</a><span></span>
								<div class="submenu">
									<div class="leftdiv">
										{volist name="cpu" id="vo"}
										<dl>
											<dt><a href="index/search/index?type={$vo.hardwareID}">{$vo.hardware_name}</a></dt>
										</dl>
										{/volist}
									</div>
									<div class="rightdiv">
									</div>
								</div>
							</li>

							<li>
								<a href="#">GPU</a><span></span>
								<div class="submenu">
									<div class="leftdiv">
										{volist name="gpu" id="vo"}
										<dl>
											<dt><a href="index/search/index?type={$vo.hardwareID}">{$vo.hardware_name}</a></dt>
										</dl>
										{/volist}
									</div>
									<div class="rightdiv">
									</div>
								</div>
							</li>
							<li>
								<a href="#">Bluetooth</a><span></span>
								<div class="submenu">
									<div class="leftdiv">
										{volist name="bluetooth" id="vo"}
										<dl>
											<dt><a href="index/search/index?type={$vo.hardwareID}">{$vo.hardware_name}</a></dt>
										</dl>
										{/volist}
									</div>
									<div class="rightdiv">
									</div>
								</div>
							</li>
							<li>
								<a href="#">Screen Size</a><span></span>
								<div class="submenu">
									<div class="leftdiv">
										{volist name="screen_size" id="vo"}
										<dl>
											<dt><a href="index/search/index?type={$vo.hardwareID}">{$vo.hardware_name}</a></dt>
										</dl>
										{/volist}
									</div>
									<div class="rightdiv">
									</div>
								</div>
							</li>
							<li>
								<a href="#">Rom</a><span></span>
								<div class="submenu">
									<div class="leftdiv">
										{volist name="rom" id="vo"}
											<dl>
												<dt><a href="index/search/index?type={$vo.hardwareID}">{$vo.hardware_name}</a></dt>
											</dl>
										{/volist}
									</div>
									<div class="rightdiv">
									</div>
								</div>
							</li>

							<li>
								<a href="#">Hard Disk</a><span></span>
								<div class="submenu">
									<div class="leftdiv">
										{volist name="hard_disk" id="vo"}
										<dl>
											<dt><a href="index/search/index?type={$vo.hardwareID}">{$vo.hardware_name}</a></dt>
										</dl>
										{/volist}
									</div>
									<div class="rightdiv">
									</div>
								</div>
							</li>

							<li>
								<a href="#">Screen resolution</a><span></span>
								<div class="submenu">
									<div class="leftdiv">
										{volist name="screen_resolution" id="vo"}
										<dl>
											<dt><a href="index/search/index?type={$vo.hardwareID}">{$vo.hardware_name}</a></dt>
										</dl>
										{/volist}
									</div>
									<div class="rightdiv">
									</div>
								</div>
							</li>



						</ul>
					</div>
					<div class="slide_middle">
						<div class="carousel slide" id="carousel-193108">
							<ol class="carousel-indicators">
								<li data-slide-to="0" data-target="#carousel-193108">
								</li>
								<li data-slide-to="1" data-target="#carousel-193108">
								</li>
								<li data-slide-to="2" data-target="#carousel-193108" class="active">
								</li>
							</ol>
							<div class="carousel-inner">
								<div class="item">
									<img alt="" src="png/1.jpg" />
									<div class="carousel-caption">
										<h4>
								First choice!
							</h4>
										<p>
											High quality! You deserve It!
										</p>
									</div>
								</div>
								<div class="item">
									<img alt="" src="png/3.jpg" />
									<div class="carousel-caption">
										<h4>
								Take me home!
							</h4>
										<p>
											Cheaper , cheaper and cheaper.
										</p>
									</div>
								</div>
								<div class="item active">
									<img alt="" src="png/10.jpg"  />
									<div class="carousel-caption">
										<h4>
								I'm waiting for you!
							</h4>
										<p>
											You can't miss it!
										</p>
									</div>
								</div>
							</div>
							<a class="left carousel-control" href="#carousel-193108" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
							<a class="right carousel-control" href="#carousel-193108" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>