<!DOCTYPE html>
<!--
	作者：offline
	时间：2016-11-27
	描述：form id=reg_form_A
-->
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			#reg_form{width: 1000px;background-color:aliceblue;border: 2px;font-family: garamond;}
			#reg_form .table_name{width:25%;text-align:right;}
		</style>
	</head>
	<body>
		<form id="reg_form" action="../login/login" method="post">
			<table  width="450" border="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
					<td>
					<fieldset>
						<legend>login&nbsp;</legend>
							<table width="80%">
								<tr >
									<td width="25%" align="right">username</td>
									<td><input name="username" type="text"></td>
								</tr>
								<tr >
									<td width="25%" align="right" name="password">password</td>
									<td><input name="password" type="password"></td>
								</tr>
							</table>
					</fieldset>
					</td>
				</tr>
				<tr>
					<table width="85%" border="0" >
						<td align="right"><input type="submit" value="Submit"></td>
						<td><input type="reset" value="Reset"></td>
					</table>
				</tr>
			</table>
		</form>
	</body>
</html>
