<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="../../StyleSheets/sit-nav.css">
		<link type="text/css" rel="stylesheet" href="../../StyleSheets/main-nav.css">
		
		
		
		<style>
			
			#reg_form{background-color:aliceblue;border: 2px;font-family: garamond;}
		
		</style>
	</head>
	<body>
		<div id="site-nav" class="site-nav">
			<div class="container">
				{if condition="!isset($customer)"}
				<div class="group user-action J-user-action">
					<a class="item" href="../index/login" rel="nofollow" onclick="">login</a>
					<a class="item" href="../User/signin" rel="nofollow" onclick="">Sign&nbsp;In</a>
				</div>
				{else/}
				<div class="group user-action J-user-action">
					<a class="item" href="../login/logout" rel="nofollow" onclick="">Exit</a>
					<a class="item" href="../User/index" rel="nofollow" onclick="">detailed information</a>
					<a class="item" href="../User/password" rel="nofollow" onclick="">change password</a>
					{if condition="isset($adminID)"}
					<a class="item" href="../Admin/index" rel="nofollow" onclick="">New Product</a>
					<a class="item" href="../Admin/newAdmin" rel="nofollow" onclick="">New Admin</a>
					<a class="item" href="../Admin/order_check_admin" rel="nofollow" onclick="">Check all orders</a>
					<a class="item" href="../Admin/product_check_admin" rel="nofollow" onclick="">Check all products</a>
					{else/}
					<a class="item" href="../User/order_check_customer" rel="nofollow" onclick="">Check orders</a>
					{/if}
				</div>
				{/if}
				<div style="float: left;margin-left:360px;padding-top: 10px;">
					{if condition="isset($name)"}
					Welcome {$name}!
					{else/}
					Welcome to Pitt Zhong Guan Cun !
					{/if}
				</div>
			</div>
		</div>
		<!--<div id="page-header" class="page-header" style="height: 70px;">
			<div class="container">
				<img title="fei fish" src="png/index/logo2.jpg" style="float: left;width: 50px;height:50px ;" class="logo" />
				<a class="city J-city" style="border-left: solid #0373BD;">Pittsburgh
					<img src="png/index/choice_bar.png" style="width: 5%;" class="icon i-arrow">
				</a>

				<div class="search-bar">
					<input class="J-search-input" id="index_search" data-s-cateid="0" data-s-cityid="4186" data-s-chanid="999" type="text" placeholder="search food" />

					<a class="search-btn J-search-btn" id="G_s-btn" style="background-color: white;">
						<img src="png/index/search_bar.png" style="width: 40%;margin:0px 8px;border: solid #0373BD;" title="search_bar" />
					</a>
				</div>
			</div>

		</div>-->
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<nav class="navbar navbar-default" role="navigation">
						<div class="navbar-header">
							<img title="" src="../../png/logo.jpeg" style="float: left;width: 50px;height:50px ;" class="logo" />
				
							<a class="navbar-brand" href="#">Zhong Guan&nbsp;Cun</a>
						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<form class="navbar-form navbar-right" role="search" action="index/search/index" method="get">
								<div class="form-group">
									<input type="text" name="keyword" class="form-control" style="width: 300px"/>
								</div> <button type="submit" class="btn btn-default">Submit</button>
							</form>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		
		
		<form id="reg_form" name="reg_form1" method="post" action="" >
 			<table  cellspacing="10" style="margin-left: 300px;width: 200px;border-bottom:1px solid  #1E90FF ;">
			 	<tr>
			 	<th scope="col">Pay&nbsp;Bill</th>
			 	</tr>
			 	
 				<tr>
				 	<td>
				 	<fieldset>
					 	
					 	<table border="0"  >
						 	<tr>
						 		<td >
						 			<label>Shipment Address <a href="../User/fillAddress?type=payment">Add new address</a></label>
									{if condition="isset($addresses)"}
						 			<select name="addressID">
										{volist name="addresses" id="vo"}
						 				<option value="{$vo.addressID}">{$vo.street}, {$vo.city}, {$vo.state} {$vo.zip_code}</option>
										{/volist}
						 			</select>
						 			{else/}
									{/if}
						 		</td>
						 	</tr>
						 	<tr>
						 		<td >
						 			<label>Billing Adress <a href="../User/fillAddress?type=payment">Add new address</a></label>
									{if condition="isset($addresses)"}
						 			<select name="billingAddressID">
										{volist name="addresses" id="vo"}
										<option value="{$vo.addressID}">{$vo.street}, {$vo.city}, {$vo.state} {$vo.zip_code}</option>
										{/volist}
						 			</select>
									{else/}
									{/if}
						 		</td>
						 	</tr>
						 	<tr>
						 		<td >
						 			<label>Billing Card <a href="../User/fillCardInfo?type=payment">Add new card information</a></label>
									{if condition="isset($billinginfos)"}
						 			<select name="billingID">
										{volist name="billinginfos" id="vo"}
										<option value="{$vo.billingID}">{$vo.creditcard_number}</option>
										{/volist}
						 			</select>
									{else/}
									{/if}
						 		</td>
						 	</tr>
					 	</table>
				 	</fieldset>
				 	</td>
			 	</tr>
			 	
	 				
			 	<tr>
			 		<td>
			 			<table width="85%" border="0" cellspacing="2" cellpadding="0">
			 			<tr>
						 	<td align="right"><input type="submit" value="Submit" /></td>
						 	<td><input type="reset" value="Reset" /></td>
			 			</tr>
			 			</table> 
			 	  	</td>
			 	</tr>
 		</table>
 	</form>
 	
 	
	</body>
</html>
