<!DOCTYPE html>
<!--
	作者：offline
	时间：2016-11-27
	描述：form id=reg_form_A
-->
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="StyleSheets/sit-nav.css">
    <link type="text/css" rel="stylesheet" href="StyleSheets/main-nav.css">

    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="StyleSheets/sort_nav.css" />
    <script src="js/sort_nav.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <style>
        #addProduct{width: 1000px;background-color:aliceblue;border: 2px;font-family: garamond;}
        #addProduct .table_name{width:25%;text-align:right;}
    </style>
</head>
<body>
<div id="head">
    <div id="site-nav" class="site-nav">
        <div class="container">
            <div style="margin-left: 450px">
                Welcome to Pitt Zhong Guan Cun !
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <img title="fei fish" src="png/logo.jpeg" style="float: left;width: 50px;height:50px ;" class="logo" />

                        <a class="navbar-brand" href="../../">Pitt Zhong Guan&nbsp;Cun</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <form class="navbar-form navbar-right" role="search" >
                            <div class="form-group">
                                <input type="text" class="form-control" style="width: 300px"/>
                            </div> <button type="submit" class="btn btn-default">Submit</button>
                        </form>

                    </div>
                </nav>
            </div>
        </div>
    </div>
    </div>>
    <div>
<form id="addProduct" action="addProduct" method="post">
    <table  width="450" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <fieldset>
                    <legend>AddProduct</legend>
                    <table width="80%">
                        <tr >
                            <td width="35%" align="right">Product Name</td>
                            <td><input type="text" name="product_name" required></td>
                     </tr>
                        <tr >
                        <td width="35%" align="right">Price</td>
                            <td><input type="number" max="100000.0" min="1.0" name="price" required></td>
                        </tr>
                        <tr >
                            <td width="35%" align="right">Inventory Amount</td>
                            <td><input type="number" min="0" name="amount" required></td>
                        </tr>
                        <tr >
                            <td width="45%" align="right">Home Discount (%)</td>
                            <td><input type="number" max="100" min="1" name="home_discount" value="100" required></td>
                        </tr>
                        <tr >
                            <td width="45%" align="right">Business Discount(%)</td>
                            <td><input type="number" max="100" min="1"  name="business_discount" value="100" required></td>
                        </tr>
                        <tr >
                            <td width="35%" align="right">Status</td>
                            <td>
                                <select name="status" >
                                    <option selected="" value="1">Avaliable</option>
                                    <option value="0">Unavaliable</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </fieldset>
                {if condition = "isset($hardware_list)"}
                <fieldset>
                    <legend>Hardware Selection</legend>
                    <table width="80%">

                        {volist name = "hardware_list" id = "vo"}
                        <tr>
                            <td width="35%" align="right">{$vo.hardware_name}</td>
                            <td><input type="checkbox" name="hardware[]" value="{$vo.hardwareID}"></td>
                        </tr>
                        {/volist}

                    </table>
                </fieldset>
                {/if}
            </td>
        </tr>
        <tr>
            <table width="85%" border="0" >
                <td align="right"><input type="submit" value="Add"></td>
                <td><input type="reset" value="Reset"></td>
            </table>
        </tr>
    </table>
</form>
<form id="goback_p" action="goback" method="post">
    <td align="right"><input type="submit" value="Back"></td>
</form>
</body>
</html>