<!DOCTYPE html>
<!--
	作者：offline
	时间：2016-11-27
	描述：form id=reg_form_A
-->
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="StyleSheets/sit-nav.css">
    <link type="text/css" rel="stylesheet" href="StyleSheets/main-nav.css">

    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="StyleSheets/sort_nav.css" />
    <script src="js/sort_nav.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <style>
        #addProduct{margin-left:200px;width: 1100px;background-color:aliceblue;border: 2px;font-family: garamond;}
        #addProduct .table_name{width:25%;text-align:right;}
        #kind_table{ margin-left: 10px; width :900px; border:1px solid blue;}
    </style>
</head>
<body>
<div id="head">
    <div id="site-nav" class="site-nav">
        <div class="container">
            {if condition="!isset($username)"}
            <div class="group user-action J-user-action">
                <a class="item" href="index/index/login" rel="nofollow" onclick="">login</a>
                <a class="item" href="index/User/signin" rel="nofollow" onclick="">Sign&nbsp;In</a>
            </div>
            {else/}
            <div class="group user-action J-user-action">
                <a class="item" href="../../index/login/logout" rel="nofollow" onclick="">Exit</a>
                <a class="item" href="../../index/User/index" rel="nofollow" onclick="">detailed information</a>
                <a class="item" href="../../index/User/password" rel="nofollow" onclick="">change password</a>
                {if condition="isset($adminID)"}
                <a class="item" href="../../index/Admin/index" rel="nofollow" onclick="">New Product</a>
                <a class="item" href="../../index/Admin/newAdmin" rel="nofollow" onclick="">New Admin</a>
                <a class="item" href="order_check_admin" rel="nofollow" onclick="">Check all orders</a>
                <a class="item" href="product_check_admin" rel="nofollow" onclick="">Check all products</a>
                {else/}
                <a class="item" href="index/User/order_check_customer" rel="nofollow" onclick="">Check orders</a>
                {/if}
            </div>
            {/if}
            <div style="margin-left: 450px">
                {if condititon:"isset($name)"}
                Welcome {$name}
                {else/}
                Welcome to Pitt Zhong Guan Cun !
                {/if}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <img title="fei fish" src="png/logo.jpeg" style="float: left;width: 50px;height:50px ;" class="logo" />

                        <a class="navbar-brand" href="../../">Pitt Zhong Guan&nbsp;Cun</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <form class="navbar-form navbar-right" role="search" method="get" action="../../index/search/index">
                            <div class="form-group">
                                <input type="text" class="form-control" name="keyword" style="width: 300px"/>
                            </div> <button type="submit" class="btn btn-default">Submit</button>
                        </form>

                    </div>
                </nav>
            </div>
        </div>
    </div>
    </div>
    <div>
<form id="addProduct" action="addProduct" method="post">
    <table  width="900" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <fieldset>
                    <div style="margin-left: 300px">
                    <legend>AddProduct</legend>
                        </div>
                    <table width="80%">
                        <tr >
                            <td width="35%" align="right">Product Name </td>
                            <td><input type="text" name="product_name" required></td>
                     </tr>
                        <tr >
                        <tr >
                            <td width="35%" align="right">Brand </td>
                            <td><input type="text" name="brand" required></td>
                        </tr>
                        <td width="35%" align="right">Price </td>
                            <td><input type="number" max="100000.0" min="1.0" name="price" required></td>
                        </tr>
                        <tr >
                            <td width="35%" align="right">Inventory Amount </td>
                            <td><input type="number" min="0" name="amount" required></td>
                        </tr>
                        <tr >
                            <td width="35%" align="right">Weight(lbs) </td>
                            <td><input type="number" min="0" name="weight" required></td>
                        </tr>
                        <tr >
                            <td width="45%" align="right">Home Discount (%) </td>
                            <td><input type="number" max="100" min="1" name="home_discount" value="100" required></td>
                        </tr>
                        <tr >
                            <td width="45%" align="right">Business Discount(%) </td>
                            <td><input type="number" max="100" min="1"  name="business_discount" value="100" required></td>
                        </tr>
                        <tr >
                            <td width="35%" align="right">Status </td>
                            <td>
                                <select name="status" >
                                    <option selected="" value="1">Avaliable</option>
                                    <option value="0">Unavaliable</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </fieldset>
                {if condition = "isset($cpu)"}
                <form id="reg_form" action="" method="post">
                    <!--CPU-->
                    <table  class="kind_table" width="100" border="0" align="left" cellpadding="0" >
                        <tr>
                            <td>
                                <fieldset>
                                    <legend>CPU</legend>
                                    <table width="80%">
                                        {volist name = "cpu" id = "vo"}
                                        <tr>
                                            <td width="55%" align="center">{$vo.hardware_name}</td>
                                            <td><input type="radio" name="cpu" required value="{$vo.hardwareID}"></td>
                                        </tr>
                                        {/volist}
                                    </table>
                                </fieldset>
                            </td>
                        </tr>
                    </table>

                    <!--GPU-->
                    <table  class="kind_table" width="150" border="0" align="center" cellpadding="0" style="float: left;">
                        <tr>
                            <td>
                                <fieldset>
                                    <legend>Graphics Coprocessor</legend>
                                    <table width="100%">
                                        {volist name = "gpu" id = "vo1"}
                                        <tr>
                                            <td width="100%" align="center">{$vo1.hardware_name}</td>
                                            <td><input type="radio" name="gpu" required value="{$vo1.hardwareID}"></td>
                                        </tr>
                                        {/volist}
                                    </table>
                                </fieldset>
                            </td>
                        </tr>
                    </table>

                    <table   class="kind_table" width="180" border="0" align="center" cellpadding="0" style="float: left;">
                        <tr>
                            <td>
                                <fieldset>
                                    <legend>RAM&nbsp;size </legend>
                                    <table width="80%">
                                        {volist name = "RAM_size" id = "vo2"}
                                        <tr>
                                            <td width="100%" align="center">{$vo2.hardware_name}</td>
                                            <td><input type="radio" name="RAM_size" required value="{$vo2.hardwareID}"></td>
                                        </tr>
                                        {/volist}
                                    </table>
                                </fieldset>
                            </td>
                        </tr>
                    </table>

                    <table  class="kind_table" width="150" border="0" align="center" cellpadding="0" style="float: left;">
                        <tr>
                            <td>
                                <fieldset>
                                    <legend>Screen Size </legend>
                                    <table width="80%">
                                        {volist name = "screen_sizes" id = "vo3"}
                                        <tr>
                                            <td width="100%" align="center">{$vo3.hardware_name}</td>
                                            <td><input type="radio" name="screen_size" required value="{$vo3.hardwareID}"></td>
                                        </tr>
                                        {/volist}
                                    </table>
                                </fieldset>
                            </td>
                        </tr>
                    </table>

                    <table  class="kind_table" width="150" border="0" align="center" cellpadding="0" style="float: left;">
                        <tr>
                            <td>
                                <fieldset>
                                    <legend>Hard disk Description</legend>
                                    <table width="80%">
                                        {volist name = "Hard_disk_Description" id = "vo4"}
                                        <tr>
                                            <td width="100%" align="center">{$vo4.hardware_name}</td>
                                            <td><input type="radio" name="Hard_disk_Description" required value="{$vo4.hardwareID}"></td>
                                        </tr>
                                        {/volist}
                                    </table>
                                </fieldset>
                            </td>
                        </tr>
                    </table>

                    <table  class="kind_table" width="200" border="0" align="center" cellpadding="0" style="float: left;">
                        <tr>
                            <td>
                                <fieldset>
                                    <legend>Hard-Drive Size</legend>
                                    <table width="80%">
                                        {volist name = "Hard_Drive_Size" id = "vo5"}
                                        <tr>
                                            <td width="100%" align="center">{$vo5.hardware_name}</td>
                                            <td><input type="radio" name="Hard_Drive_Size" required value="{$vo5.hardwareID}"></td>
                                        </tr>
                                        {/volist}
                                    </table>
                                </fieldset>
                            </td>
                        </tr>
                    </table>

                    <table  class="kind_table" width="200" border="0" align="center" cellpadding="0" style="float: left;">
                        <tr>
                            <td>
                                <fieldset>
                                    <legend>Operation System</legend>
                                    <table width="80%">
                                        {volist name = "os" id = "vo6"}
                                        <tr>
                                            <td width="100%" align="center">{$vo6.hardware_name}</td>
                                            <td><input type="radio" name="os" required  value="{$vo6.hardwareID} "></td>
                                        </tr>
                                        {/volist}
                                    </table>
                                </fieldset>
                            </td>
                        </tr>
                    </table>

                    <table  class="kind_table" width="200" border="0" align="center" cellpadding="0" style="float: left;">
                        <tr>
                            <td>
                                <fieldset>
                                    <legend>Display Resolution Maximum</legend>
                                    <table width="80%">
                                        {volist name = "screen_resolutions" id = "vo7"}
                                        <tr>
                                            <td width="100%" align="center">{$vo7.hardware_name}</td>
                                            <td><input type="radio" name="screen_resolution" required  value="{$vo7.hardwareID} "></td>
                                        </tr>
                                        {/volist}
                                    </table>
                                </fieldset>
                            </td>
                        </tr>
                    </table>
                </form>
                {/if}
            </td>
        </tr>
        <tr>
            <table width="85%" border="0" >
                <td align="right"><input type="submit" value="Add" style="font-size: 20px"></td>
                <td><input type="reset" value="Reset" style="font-size: 20px"></td>
            </table>
        </tr>
    </table>
</form>
</body>
</html>