<!DOCTYPE html>
<!--
	作者：offline
	时间：2016-11-27
	描述：form id=reg_form_A
-->
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="StyleSheets/sit-nav.css">
    <link type="text/css" rel="stylesheet" href="StyleSheets/main-nav.css">

    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="StyleSheets/sort_nav.css" />
    <script src="js/sort_nav.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <style>
        #addAdmin{width: 1000px;background-color:aliceblue;border: 2px;font-family: garamond;}
        #addAdmin .table_name{width:25%;text-align:right;}
    </style>
</head>
<body>
<div id="head">
    <div id="site-nav" class="site-nav">
        <div class="container">
            <div style="margin-left: 450px">
                Welcome to Pitt Zhong Guan Cun !
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <img title="fei fish" src="png/logo.jpeg" style="float: left;width: 50px;height:50px ;" class="logo" />

                        <a class="navbar-brand" href="../../">Pitt Zhong Guan&nbsp;Cun</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <form class="navbar-form navbar-right" role="search" >
                            <div class="form-group">
                                <input type="text" class="form-control" style="width: 300px"/>
                            </div> <button type="submit" class="btn btn-default">Submit</button>
                        </form>

                    </div>
                </nav>
            </div>
        </div>
    </div>
    </div>
    <div>
<form id="addAdmin" action="addAdmin" method="post">
    <table  width="450" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <fieldset>
                    <legend>Add_Administration</legend>
                    <table width="80%">
                        <tr >
                            <td width="35%" align="right">Username</td>
                            <td><input type="text" name="username" required></td>
                        </tr>
                        <tr >
                            <td width="35%" align="right">Password</td>
                            <td><input type="password"  name="password" required></td>
                        </tr>
                        <tr >
                            <td width="35%" align="right">Check Password</td>
                            <td><input type="password" name="check_password" required></td>
                        </tr>
                        <tr >
                            <td width="45%" align="right">First Name</td>
                            <td><input type="text"  name="fname" value="" required></td>
                        </tr>
                        <tr >
                            <td width="45%" align="right">Last Name</td>
                            <td><input type="text"   name="lname" value="" required></td>
                        </tr>
                        <tr >
                            <td width="45%" align="right">E-mail</td>
                            <td><input type="email"   name="email" value="" required></td>
                        </tr>
        <tr>
            <table width="85%" border="0" >
                <td align="right"><input type="submit" value="Add"></td>
                <td><input type="reset" value="Reset"></td>
            </table>
        </tr>
</form>
        </div>
</body>
</html>