<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<title>Searching - Pitt Zhong Guan Cun</title>

	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
	<link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
	<link href="http://www.jq22.com/jquery/font-awesome.4.6.0.css" rel="stylesheet" media="screen">
	
	
	<link type="text/css" rel="stylesheet" href="../../StyleSheets/sit-nav.css">
	<link type="text/css" rel="stylesheet" href="../../StyleSheets/main-nav.css">
	<link rel="stylesheet" type="text/css" href="../../StyleSheets/style.css">
	
	<link rel="stylesheet" href="../../StyleSheets/cart_table.css" />
	<script type="text/javascript" src="../../js/cart_table.js"></script>


	<style>
		#cart {
			display: none;
		}
	</style>
	<script>
		var amount = 0;
		$(document).ready(function() {
			//adimin test
			$("#test").click(function() {

				$(".admin_btn").show();
				$(".admin_form").show();
			});

			//cart add test
			$(".fa.fa-shopping-cart").one('click',function() {
				//check if 1st time to clcik butto
				$("#cart").show();
				//get all the tr
				var cartTable =$('#cartTable');

				var inner = $(this).parent().parent();
				var product_name = inner.find('.ct-product-title').text();
				var price = inner.find(".ct-product-price").html();
				price = price.replace("$", "");


				var productId= $(this).attr('id').replace("product_", "");
				//alert(productId);
				var productIdStr = "0"

				{if condition="isset($cartProductIDString)"}
				productIdStr = "{$cartProductIDString}";
				var productId_cart = productIdStr.split(",");

				{/if}


					if(productIdStr == "0" || productId_cart.indexOf(productId) == -1) {
						//find parent, so add the children to the cart

						var cart = $(".ct-cart").find("table");
						var id = $(this).attr("id").replace('product_', '');
						//var tprice = $("<td><tr></tr></td>").text("price=" + price.text());

						var $atr = $('<tr>');
						var $atd = $('');
						var htmlString = ""; //  Content to be added to new div

						htmlString +=
								'<tr>' +
								//'<td class = "checkbox_cartable"><input class="check-one check" type="checkbox" /></td>' +
								'<td class="goods"><img src="../../png/' + id + '.jpg" alt="" /><span>' + product_name + '</span></td>' +
								'<td class="price">' + price + '</td>' +
								'<td class="count">' +
								'<span class="reduce">-</span>' +
								'<input type="hidden" name="productID[]" value="' + id + '" />' +
								'<input class="count-input" type="text" name="quantity[]" value="1" />' +
								'<span class="add">+</span>' +
								'</td>' +
								'<td class="subtotal">' + price + '</td>' +
								'<td class="operation"><span class="delete">delete</span></td>' +
								'</tr>';


						cartTable.find('tbody').append(htmlString);
					}



			});


		});
	</script>
</head>

<body>

	<div id="site-nav" class="site-nav">
		<div class="container">
			{if condition="!isset($customer) && !isset($admin)"}
			<div class="group user-action J-user-action">
				<a class="item" href="../index/login" rel="nofollow" onclick="">login</a>
				<a class="item" href="../User/signin" rel="nofollow" onclick="">Sign&nbsp;In</a>
			</div>
			{else/}
			<div class="group user-action J-user-action">
				<a class="item" href="../login/logout" rel="nofollow" onclick="">Exit</a>
				<a class="item" href="../User/index" rel="nofollow" onclick="">detailed information</a>
				<a class="item" href="../User/password" rel="nofollow" onclick="">change password</a>
				{if condition="isset($admin)"}
				<a class="item" href="../Admin/index" rel="nofollow" onclick="">New Product</a>
				<a class="item" href="../Admin/newAdmin" rel="nofollow" onclick="">New Admin</a>
				<a class="item" href="../Admin/order_check_admin" rel="nofollow" onclick="">Check all orders</a>
				<a class="item" href="../Admin/product_check_admin" rel="nofollow" onclick="">Check all products</a>
				{else/}
				<a class="item" href="../User/order_check_customer" rel="nofollow" onclick="">Check orders</a>
				{/if}
			</div>
			{/if}
			<div style="float: left;margin-left:360px;padding-top: 10px;">
				{if condition="isset($name)"}
				Welcome {$name}!
				{else/}
				Welcome to Pitt Zhong Guan Cun !
				{/if}
			</div>
		</div>
	</div>
	<!--<div id="page-header" class="page-header" style="height: 70px;">
			<div class="container">
				<img title="fei fish" src="png/index/logo2.jpg" style="float: left;width: 50px;height:50px ;" class="logo" />
				<a class="city J-city" style="border-left: solid #0373BD;">Pittsburgh
					<img src="png/index/choice_bar.png" style="width: 5%;" class="icon i-arrow">
				</a>

				<div class="search-bar">
					<input class="J-search-input" id="index_search" data-s-cateid="0" data-s-cityid="4186" data-s-chanid="999" type="text" placeholder="search food" />

					<a class="search-btn J-search-btn" id="G_s-btn" style="background-color: white;">
						<img src="png/index/search_bar.png" style="width: 40%;margin:0px 8px;border: solid #0373BD;" title="search_bar" />
					</a>
				</div>
			</div>

		</div>-->
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
							 	<span class="sr-only">Toggle navigation</span>
							 	<span class="icon-bar"></span>
							 	<span class="icon-bar"></span>
							 	<span class="icon-bar"></span>
							</button>
						<img title="fei fish" src="../../png/logo.jpeg" style="float: left;width: 50px;height:50px ;" class="logo" />

						<a class="navbar-brand" href="../.." style="color: deepskyblue;">Pitt Zhong Guan Cun</a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">

						</ul>

						<form class="navbar-form navbar-right" role="search" action="" method="get">
							<div class="form-group">
								<input type="text" name="keyword" class="form-control" style="width: 300px"/>
							</div> <button type="submit" class="btn btn-default">Submit</button>
						</form>
					</div>
				</nav>
			</div>
		</div>
	</div>

	<!--
		interact to cart
		
		
	-->
	{if condition="isset($adminID)"}
	<button id="test">Modify Products</button>
	{/if}
	<form id="cart" style="margin-left: 170px;" num="cart_submit" method="post" action="../Cart/payment">
		<table id="cartTable">
			<thead>
				<tr>

					<th>product</th>
					<th>price</th>
					<th>amount</th>
					<th>total</th>
					<th>operation</th>
				</tr>
			</thead>
			<tbody>
			{if condition="isset($cartProductList)"}
			{volist name="cartProductList" id="vo"}
			<tr>

				<td class="goods"><img src="../../png/{$vo.productID}.jpg" alt="" /><span>{$vo.product_name}</span></td>
				{if condition="isset($customerID)&&$customerID%2==1"}
				<td class="price">{$vo.price * $vo.home_discount / 100.00}</td>
				{else/}<td class="price">{$vo.price * $vo.business_discount / 100.00}</td>
				{/if}
				<td class="count">
					<span class="reduce">-</span>
					<input class="cartproductID" type="hidden" name="productID[]" value="{$vo.productID}" />
					<input class="count-input" type="text" name="quantity[]" value="{$vo['quantity']}" />
					<span class="add">+</span>
				</td>
				{if condition="isset($customerID)&&$customerID%2==1"}
				<td class="subtotal">{$vo.price * $vo.home_discount * $vo['quantity'] / 100.00}</td>
				{else/}<td class="subtotal">{$vo.price * $vo.business_discount * $vo['quantity'] / 100.00}</td>
				{/if}
				<td class="operation"><span class="delete">delete</span></td>
			</tr>
			{/volist}
			{/if}
			</tbody>
		</table>

		<div class="cartfoot" id="cartfoot">

			<a class="fl delete" id="deleteAll" href="javascript:;">delete</a>
			<a class="fr closing"><input type="submit" value="check out"></a>
			<div class="fr total">total：$<span id="priceTotal">0.00</span></div>
			<div class="fr selected" id="selected">selected items:
				<span id="selectedTotal">0</span>product

			</div>
			<div class="selected-view">
				<div id="selectedViewList" class="clearfix">
					<!--<div><img src="images/1.jpg"><span>取消选择</span></div>-->
				</div>
				<span class="arrow">◆<span>◆</span></span>
			</div>
		</div>
	</form>
	</div>


	<!--
		
		the search result: show products
	-->
	<div class="ct-pageWrapper">
		<main>
			<div class="container">
				<div class="row">

					<div class="col-md-12" style="border-left: 1px solid #6495ED;">
						<div class="row">
							{volist name="result" id="vo" empty="No Results!"}
							<div class="col-sm-4">
								<div class="ct-product">
									<div class="image"><img src="../../png/{$vo.productID}.jpg" alt=""></div>
									<div class="inner">
										<a href="#" class="btn btn-motive ct-product-button">
											<i class="fa fa-shopping-cart" id="product_{$vo.productID}"></i>
										</a>
										<h2 class="ct-product-title">{$vo.product_name}</h2>
										<p class="ct-product-description">{$vo.hardware}</p>
										{if condition="isset($customerID)&&$customerID%2==1"}
										<span class="ct-product-price">${$vo.price * $vo.home_discount / 100.00}</span>
										{elseif condition="isset($customerID)&&$customerID%2==0"}<span class="ct-product-price">${$vo.price * $vo.business_discount / 100.00}</span>
										{else/}<span class="ct-product-price">${$vo.price}</span>
										{/if}

										<form class="admin_form" action="../Admin/updateProduct" method="post" style="display: none;">
											<table width="80%">
												<tr>
													<td width="35%" align="right">Name</td>
													<input type="hidden" name="productID" value="{$vo.productID}" required>
													<td><input type="text" name="product_name" value="{$vo.product_name}" required></td>
												</tr>
												<tr>
													<td width="35%" align="right">Price</td>
													<td><input type="number" max="100000.0" min="1.0" name="price" value="{$vo.price}" required></td>
												</tr>
												<tr>
													<td width="35%" align="right">Inventory Amount</td>
													<td><input type="number" min="0" name="amount" required value="{$vo.inventory_amount}"></td>
												</tr>
												<tr>
													<td width="45%" align="right">Home Discount</td>
													<td><input type="number" max="100" min="1" name="home_discount" value="{$vo.home_discount}" required></td>
												</tr>
												<tr>
													<td width="45%" align="right">Business Discount</td>
													<td><input type="number" max="100" min="1" name="business_discount" value="{$vo.business_discount}" required></td>
												</tr>
												<tr>
													<td width="35%" align="right">Status</td>
													<td>
														<select name="status">
															<option selected="" value="1">Avaliable</option>
															<option value="0">Unavaliable</option>
														</select>
													</td>
												</tr>
											</table>
											<input type="submit" value="submit" />
										</form>
									</div>
								</div>
							</div>
							{/volist}
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</body>

</html>