<!DOCTYPE html>
<!--
	作者：offline
	时间：2016-11-27
	描述：form id=reg_form_A
-->
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="StyleSheets/sit-nav.css">
		<link type="text/css" rel="stylesheet" href="StyleSheets/main-nav.css">

		<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
		<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
		<link rel="stylesheet" href="StyleSheets/sort_nav.css" />
		<script src="js/sort_nav.js"></script>
		<style>
			#reg_form{width: 1000px;background-color:aliceblue;border: 2px;font-family: garamond;}
			#reg_form .table_name{width:25%;text-align:right;}
		</style>
	</head>
	<body>
	<div id="head">
		<div id="site-nav" class="site-nav">
			<div class="container">
				<div style="margin-left: 450px">
					Welcome to Pitt Zhong Guan Cun !
				</div>
			</div>
		</div>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<img title="fei fish" src="png/logo.jpeg" style="float: left;width: 50px;height:50px ;" class="logo" />

						<a class="navbar-brand" href="../../">Pitt Zhong Guan&nbsp;Cun</a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

						<form class="navbar-form navbar-right" role="search" >
							<div class="form-group">
								<input type="text" class="form-control" style="width: 300px"/>
							</div> <button type="submit" class="btn btn-default">Submit</button>
						</form>

					</div>
				</nav>
			</div>
		</div>
	</div>
	</div>
		<form id="reg_form" action="addAddress{if condition='isset($update)'}?type=update{/if}" method="post" style=" margin-left: 200px;width: 1100px">
			<table  width="450" border="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
					<td>
					<fieldset>
						<legend>Address&nbsp;Infomation</legend>
							<table width="80%">
								<tr >
									<td width="25%" align="right" style="font-size: 20px">State</td>
									<td><input type="text" name="state" style="width: 200px"></td>
								</tr>
								<tr >
									<td width="25%" align="right" style="font-size: 20px">City</td>
									<td><input type="text" name="city" style="width: 200px"></td>
								</tr>
								<tr >
									<td width="25%" align="right" style="font-size: 20px">Street</td>
									<td><input type="text" name="street" style="width: 200px"></td>
								</tr>
								<tr >
									<td width="25%" align="right" style="font-size: 20px">zipcode</td>
									<td><input type="number" min="10000" max="99999" name="zipcode" style="width: 200px"> </td>
								</tr>
							</table>
					</fieldset>
					</td>
				</tr>
				<tr>
					{if condition="isset($update)"}
					<table width="83%"  border="0"  style="font-size: 20px">
						<td align="right"><input type="submit"  value="Submit"></td>
						<td><input type="reset" value="Reset"></td>
					</table>
					{else/}
					<table width="83%"  border="0"  style="font-size: 20px">
						<td align="right"><input type="submit"  value="Next"></td>
						<td><input type="reset" value="Reset"></td>
					</table>
					{/if}
				</tr>
			</table>
		</form>
	</body>
</html>
