<!DOCTYPE html>
<!--
	作者：offline
	时间：2016-11-27
	描述：form id=reg_form_P
-->
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <script></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
        $(document).ready(function(){
            //$("tr[id^='billinginfo_']").hide();
            //$('#billing_submit').hide();
            id = $("#addressID").val();
            $.post("getAddress",
                    {
                        addressID: id
                    },function(res){
                        res = JSON.parse(res);
                        $("#address_state input").val(res.state);
                        $("#address_street input").val(res.street);
                        $("#address_zipcode input").val(res.zip_code);
                        $("#address_city input").val(res.city);
                    }
            );
            $("#addressID").click(function () {
                id = $("#addressID").val();
                $.post("getAddress",
                        {
                            addressID: id
                        },function(res){
                            res = JSON.parse(res);
                            $("#address_state input").val(res.state);
                            $("#address_street input").val(res.street);
                            $("#address_zipcode input").val(res.zip_code);
                            $("#address_city input").val(res.city);
                        }
                );
            });
            id = $("#billingID").val();
            $.post("getBillingInfo",
                    {
                        billingID: id
                    },function(res){
                        res = JSON.parse(res);
                        $("#billinginfo_cardnumber input").val(res.creditcard_number);
                        $("#month").val(res.expire_month);
                        $("#year").val(res.expire_year);
                    }
            );
            $("#billingID").click(function () {
                id = $("#billingID").val();
                $.post("getBillingInfo",
                        {
                            billingID: id
                        },function(res){
                            res = JSON.parse(res);
                            $("#billinginfo_cardnumber input").val(res.creditcard_number);
                            $("#month").val(res.expire_month);
                            $("#year").val(res.expire_year);
                        }
                );
            });
        });
    </script>

     <style>
         td {
             width="25%" align="right"
         }

         td input {
             size: 16;
         }
         #address_form,
         #billing_form,
         #reg_form_P,
         #reg_form_B ,
         #reg_form_A{
             width: 1000px;
             background-color: aliceblue;
             border: 2px;
             font-family: garamond;
         }
         #address_form.table_name,
         #billing_form.table_name,
         #reg_form_P .table_name,
         #reg_form_B .table_name ,
         #reg_form_A .table_name{
             width: 25%;
             text-align: right;
         }
     </style>


 </head>

 <body>
     {if condition="isset($customerID)&&$customerID%2==1"}
 <div>
     <form id="reg_form_P" name="reg_form_P" method="post" action="updateInformation" >
         <table width="450" border="0" align="center" cellpadding="0" cellspacing="0">
             <tr>
                 <th scope="col">Sign&nbsp;Up</th>
             </tr>

             <tr>
                 <td>
                     <fieldset>
                         <legend>Personal&nbsp;Information</legend>
                         <table width="85%" border="0" align="center" cellpadding="0" cellspacing="2">
                             <tr>
                                 <td class="table_name">UserName</td>
                                 <td><input type="text" name="Username" value="{$username}" readonly="true"  /></td>
                             </tr>
                             <tr>
                                 <td class="table_name">E-mail</td>
                                 <td><input type="text" name="email"  value="{$email}" /></td>
                             </tr>
                             <tr>
                                 <td class="table_name">NickName</td>
                                 <td><input type="text" name="NickName" value="{$name}"/></td>
                             </tr>
                             <tr>
                                 <td class="table_name">First&nbsp;Name</td>
                                 <td><input type="text" name="Fname" value="{$fname}"/></td>
                             </tr>
                             <tr>
                                 <td class="table_name">&nbsp;Last&nbsp;Name</td>
                                 <td><input type="text" name="Lname" value="{$lname}" /></td>
                             </tr>

                             <tr>
                                 <td width="25%" align="right">Income</td>
                                 <td><input type="number"  min="0" size="10" name="Income" value="{$income}"/></td>
                             </tr>
                             <tr>
                                 <td width="25%" align="right">Age</td>
                                 <td><input type="number" min="0" size="10" name="Age" value="{$age}"/></td>
                             </tr>
                             <tr>
                                 <td width="25%" align="right">Marriage</td>
                                 <td>
                                     <select name="marriage">
                                         <option selected="selected" name="1" value="{$marriage}">{$marriage}</option>
                                         {if condition="$marriage!='unknown'"}
                                         <option  name="1" value="unknown">unknown</option>
                                         {else/}
                                         {/if}
                                         {if condition="$marriage!='unknown'"}
                                         <option  name="1" value="yes">yes</option>
                                         {else/}
                                         {/if}
                                         {if condition="$marriage!='no'"}
                                         <option  name="1" value="no">no</option>
                                         {else/}
                                         {/if}
                                     </select>
                                 </td>
                             </tr>
                             <tr>
                                 <td width="25%" align="right">gender</td>
                                 <td>
                                     <select name="gender">
                                         <option selected="selected" name="2" value="{$gender}">{$gender}</option>
                                         {if condition="$gender=='male'"}
                                         <option name="2" value="female">female</option>
                                         {else/}
                                         <option name="2" value="male">male</option>
                                         {/if}
                                     </select>
                                 </td>
                             </tr>
                         </table>
                     </fieldset>
                 </td>
             </tr>

             <tr>
                 <td>
                     <table width="85%" border="0" cellspacing="2" cellpadding="0">
                         <tr>
                             <td align="right"><input type="submit" value="Update" /></td>
                             <td><input type="reset" value="Reset" /></td>
                         </tr>
                     </table>
                 </td>
             </tr>
         </table>
     </form>
 </div>

     {elseif condition="isset($customerID)&&$customerID%2==0"}
 <div>
     <form id="reg_form_B" name="reg_form_B" method="post" action="updateInformation" >
         <table width="450" border="0" align="center" cellpadding="0" cellspacing="0">
             <tr>
                 <th scope="col">Sign&nbsp;Up</th>
             </tr>

             <tr>
                 <td>
                     <fieldset>
                         <legend>Business&nbsp;Information</legend>
                         <table width="85%" border="0" align="center" cellpadding="0" cellspacing="2">
                             <tr>
                                 <td class="table_name">UserName</td>
                                 <td><input type="text" name="Username" readonly="true" value="{$username}"/></td>
                             </tr>
                             <tr>
                                 <td class="table_name">Company Name</td>
                                 <td><input type="text" name="company_name" value="{$name}"/></td>
                             </tr>
                             <tr>
                                 <td class="table_name">E-mail</td>
                                 <td><input type="text" name="email" value="{$email}" /></td>
                             </tr>
                             <tr>
                                 <td width="25%" align="right">Annual Income</td>
                                 <td><input type="number" min="0" name="annual_income" value="{$annual_income}" /></td>
                             </tr>
                             <tr>
                                 <td width="25%" align="right">Category</td>
                                 <td>
                                     <select name="category">

                                         {volist name="business_category" id="vo"}
                                         {if condition="$business_categoryID == $vo.business_categoryID"}
                                         <option  name="3" value="{$vo.business_categoryID}" selected>{$vo.business_category_name}</option>
                                         {else/} <option  name="3" value="{$vo.business_categoryID}">{$vo.business_category_name}</option>
                                         {/if}
                                         {/volist}
                                     </select>
                                 </td>
                             </tr>
                         </table>
                     </fieldset>
                 </td>
             </tr>

             <tr>
                 <td>
                     <table width="85%" border="0" cellspacing="2" cellpadding="0">
                         <tr>
                             <td align="right"><input type="submit" value="Submit" /></td>
                             <td><input type="reset" value="Reset" /></td>
                         </tr>
                     </table>
                 </td>
             </tr>
         </table>
     </form>
 </div>
     {elseif condition="isset($adminID)"}
     <div>
         <form id="reg_form_A" name="reg_form_A" method="post" action="updateInformation" >
             <table width="450" border="0" align="center" cellpadding="0" cellspacing="0">
                 <tr>
                     <th scope="col">Sign&nbsp;Up</th>
                 </tr>

                 <tr>
                     <td>
                         <fieldset>
                             <legend>Admin&nbsp;Information</legend>
                             <table width="85%" border="0" align="center" cellpadding="0" cellspacing="2">
                                 <tr>
                                     <td class="table_name">UserName</td>
                                     <td><input type="text" name="Username" readonly="true" value="{$username}"/></td>
                                 </tr>
                                 <tr>
                                     <td class="table_name">First Name</td>
                                     <td><input type="text" name="fname" value="{$fname}"/></td>
                                 </tr>
                                 <tr>
                                     <td class="table_name">Last Name</td>
                                     <td><input type="text" name="lname" value="{$lname}"/></td>
                                 </tr>
                                 <tr>
                                     <td class="table_name">E-mail</td>
                                     <td><input type="text" name="email" value="{$email}" /></td>
                             </table>
                         </fieldset>
                     </td>
                 </tr>

                 <tr>
                     <td>
                         <table width="85%" border="0" cellspacing="2" cellpadding="0">
                             <tr>
                                 <td align="right"><input type="submit" value="Submit" /></td>
                                 <td><input type="reset" value="Reset" /></td>
                             </tr>
                         </table>
                     </td>
                 </tr>
             </table>
         </form>
     </div>
     {else/}
{/if}

     {if condition="!isset($adminID)"}
     <div>
         <form id="address_form" action="updateAddress" method="post">
             <table  width="450" border="0" align="center" cellpadding="0" cellspacing="0">
                 <tr>
                     <td>
                         <fieldset>
                             <legend>Address&nbsp;Infomation (<a href="fillAddress?type=update">Add New Address</a>)</legend>
                             <table width="85%" border="0" align="center" cellpadding="0" cellspacing="2">
                                 <tr>
                                     <td class="table_name">Choose Address</td>
                                     <td>
                                         <select name="addressID" id="addressID">
                                             {volist name="addresses" id="vo"}
                                             <option value="{$vo.addressID}">{$vo.street}</option>
                                             {/volist}
                                         </select>
                                     </td>
                                 </tr>
                                 <tr id="address_state">
                                     <td class="table_name">State</td>
                                     <td><input type="text"name="state""></td>
                                 </tr>
                                 <tr id="address_city">
                                     <td class="table_name">City</td>
                                     <td><input type="text"name="city""></td>
                                 </tr>
                                 <tr id="address_street">
                                     <td class="table_name">Street</td>
                                     <td><input type="text"name="street"></td>
                                 </tr>
                                 <tr id="address_zipcode">
                                     <td class="table_name">zipcode</td>
                                     <td><input type="number" min="10000" max="99999" name="zipcode"></td>
                                 </tr>
                                 <tr id="address_submit">
                                     <td align="right"><input type="submit" value="Update" /></td>
                                     <td><input type="reset" value="Reset" /></td>
                                </tr>
                             </table>
                         </fieldset>
                     </td>
                 </tr>
             </table>
         </form>

         <form id="billing_form" action="updateBillinginfo" method="post">
             <table  width="450" border="0" align="center" cellpadding="0" cellspacing="0">
                 <tr>
                     <td>
                         <fieldset>
                             <legend>Billing&nbsp;Infomation (<a href="fillCardInfo?type=update">Add New Card</a>)</legend>
                             <table width="85%" border="0" align="center" cellpadding="0" cellspacing="2">
                                 <tr>
                                     <td class="table_name">Choose Card</td>
                                     <td>
                                         <select name="billingID" id="billingID">
                                            {volist name="billinginfos" id="vo"}
                                            <option value="{$vo.billingID}">{$vo.creditcard_number}</option>
                                            {/volist}
                                         </select>
                                     </td>
                                 </tr>
                                 <tr id="billinginfo_cardnumber">
                                     <td class="table_name">credit&nbsp;card&nbsp;number</td>
                                     <td>
                                         <input type="text" pattern="[0-9]{16}|[0-9]{19}" name="creditcard_number" value=""/>
                                     </td>
                                 </tr>

                                 <tr id="billinginfo_expire">
                                     <td class="table_name">Expire&nbsp;Date&nbsp</td>
                                     <td >
                                         <label>year</label>
                                         <select name="year" id="year">
                                             <option value="2016">2016</option>
                                             <option value="2017">2017</option>
                                             <option value="2018">2018</option>
                                             <option value="2019">2019</option>
                                         </select>
                                         mon
                                         <select name="month" id="month">
                                             <option value="1">1</option>
                                             <option value="2">2</option>
                                             <option value="3">3</option>
                                             <option value="4">4</option>
                                             <option value="5">5</option>
                                             <option value="6">6</option>
                                             <option value="7">7</option>
                                             <option value="8">8</option>
                                             <option value="9">9</option>
                                             <option value="10">10</option>
                                             <option value="11">11</option>
                                             <option value="12">12</option>
                                         </select>
                                     </td>
                                 </tr>
                                 <tr id="billing_submit">
                                     <td align="right"><input type="submit" value="Update" /></td>
                                     <td><input type="reset" value="Reset" /></td>
                                 </tr>
                             </table>

                         </fieldset>
                     </td>
                 </tr>
             </table>
         </form>
     </div>
    {/if}
 </body>

 </html>