<!DOCTYPE html>
<!--
	作者：offline
	时间：2016-11-27
	描述：form id=reg_form_A
-->
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="StyleSheets/sit-nav.css">
    <link type="text/css" rel="stylesheet" href="StyleSheets/main-nav.css">

    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="StyleSheets/sort_nav.css" />
    <script src="js/sort_nav.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <style>
        #reg_form{margin-left: 200px; width: 1100px;font-size:20px;background-color:aliceblue;border: 2px;font-family: garamond;}
        #reg_form .table_name{width:35%;text-align:right;}
    </style>
</head>
<body>
<div id="head">
    <div id="site-nav" class="site-nav">
        <div class="container">
            {if condition="!isset($username)"}
            <div class="group user-action J-user-action">
                <a class="item" href="index/index/login" rel="nofollow" onclick="">login</a>
                <a class="item" href="index/User/signin" rel="nofollow" onclick="">Sign&nbsp;In</a>
            </div>
            {else/}
            <div class="group user-action J-user-action">
                <a class="item" href="../../index/login/logout" rel="nofollow" onclick="">Exit</a>
                <a class="item" href="../../index/User/index" rel="nofollow" onclick="">detailed information</a>
                <a class="item" href="../../index/User/password" rel="nofollow" onclick="">change password</a>
                {if condition="isset($adminID)"}
                <a class="item" href="../../index/Admin/index" rel="nofollow" onclick="">New Product</a>
                <a class="item" href="../../index/Admin/newAdmin" rel="nofollow" onclick="">New Admin</a>
                <a class="item" href="../../index/Admin/order_check_admin" rel="nofollow" onclick="">Check all orders</a>
                <a class="item" href="../../index/Admin/product_check_admin" rel="nofollow" onclick="">Check all products</a>
                {else/}
                <a class="item" href="order_check_customer" rel="nofollow" onclick="">Check orders</a>
                {/if}
            </div>
            {/if}
            <div style="margin-left: 450px">
                {if condititon:"isset($name)"}
                Welcome {$name}
                {else/}
                Welcome to Pitt Zhong Guan Cun !
                {/if}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <img title="fei fish" src="png/logo.jpeg" style="float: left;width: 50px;height:50px ;" class="logo" />

                        <a class="navbar-brand" href="../../">Pitt Zhong Guan&nbsp;Cun</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <form class="navbar-form navbar-right" role="search" method="get" action="../../index/search/index">
                            <div class="form-group">
                                <input type="text" class="form-control" name="keyword" style="width: 300px"/>
                            </div> <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<form id="reg_form" action="changePassword" method="post">
    <table  width="450" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <fieldset>
                    <legend>Password</legend>
                    <table width="80%">
                        <tr >
                            <td width="35%" align="right">Old&nbsp;Password: </td>
                            <td><input type="password"name="old_password" required></td>
                        </tr>
                        <tr >
                            <td width="35%" align="right">New Password: </td>
                            <td><input type="password" name="new_password" required></td>
                        </tr>
                        <tr >
                            <td width="45%" align="right">Check Password: </td>
                            <td><input type="password" name="check_password" required></td>
                        </tr>
                    </table>
                </fieldset>
            </td>
        </tr>
        <tr>
            <table width="85%" border="0" >
                <td align="right"><input type="submit" value="Change"></td>
                <td><input type="reset" value="Reset"></td>
            </table>
        </tr>
    </table>
</form>
</body>
</html>