<!DOCTYPE html>
<!--
	作者：offline
	时间：2016-11-27
	描述：form id=reg_form_P
-->
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="StyleSheets/sit-nav.css">
    <link type="text/css" rel="stylesheet" href="StyleSheets/main-nav.css">

    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="StyleSheets/sort_nav.css" />
    <script src="js/sort_nav.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <style>
        td {
            width="25%" align="right"
        }

        td input {
            size: 16;
        }

        #reg_form_P,
        #reg_form_B {
            width: 1100px;
            margin-left: 200px;
            background-color: aliceblue;
            border: 2px;
            font-family: garamond;
        }

        #reg_form_P .table_name,
        #reg_form_B .table_name {
            width: 25%;
            text-align: right;
            font-size: 20px;
        }
    </style>
    <script>
        function showP() {
            var a = document.getElementById('reg_form_P');
            alert(a.name);
            a.style.display = "block";

            var b = document.getElementById('reg_form_B');

            b.style.display = "none";
        }

        function showB() {
            var a = document.getElementById('reg_form_B');
            a.style.display = "block";
            var b = document.getElementById('reg_form_P');
            b.style.display = "none";
        }
    </script>
</head>

<body>
<div id="head">
    <div id="site-nav" class="site-nav">
        <div class="container">
            <div style="margin-left: 450px">
                Welcome to Pitt Zhong Guan Cun !
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <img title="fei fish" src="png/logo.jpeg" style="float: left;width: 50px;height:50px ;" class="logo" />

                        <a class="navbar-brand" href="../../">Pitt Zhong Guan&nbsp;Cun</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <form class="navbar-form navbar-right" role="search" >
                            <div class="form-group">
                                <input type="text" class="form-control" style="width: 300px"/>
                            </div> <button type="submit" class="btn btn-default">Submit</button>
                        </form>

                    </div>
                </nav>
            </div>
        </div>
    </div>
    </div>>
<div>
    <form action="" method="get">
        <div style="margin-left: 600px; font-size: 20px">
            choose your customer type:
            </div>
        <label><input name="customer" type="radio" value="home" id="home" style="margin-left: 650px" onclick="showP()"/>home </label>
        <label><input name="customer" type="radio" value="business" id="business"  onclick="showB()"/>business </label>
    </form>

</div>
<div>
    <form id="reg_form_P" name="reg_form_P" method="post" action="addUser" style="display: none;">
        <table width="450" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <th scope="col">Sign&nbsp;Up</th>
            </tr>

            <tr>
                <td>
                    <fieldset>
                        <legend>Personal&nbsp;Information</legend>
                        <table width="85%" border="0" align="center" cellpadding="0" cellspacing="2">
                            <tr>
                                <td><input type="hidden" name="customerType" value="Home" style="width: 200px"/></td>
                            </tr>
                            <tr>
                                <td class="table_name">UserName: </td>
                                <td><input type="text" name="Username" style="width: 200px"  required /></td>
                            </tr>
                            <tr>
                                <td class="table_name">&nbsp;Password: </td>
                                <td><input type="password" name="Password" style="width: 200px" required /></td>
                            </tr>
                            <tr>
                                <td class="table_name">Check&nbsp;PassWord: </td>
                                <td><input type="password"name="checkPassword" style="width: 200px" required /></td>
                            </tr>
                            <tr>
                                <td class="table_name">E-mail: </td>
                                <td><input type="email" name="email" style="width: 200px" required /></td>
                            </tr>
                            <tr>
                                <td class="table_name">NickName: </td>
                                <td><input type="text" name="NickName" style="width: 200px" required/></td>
                            </tr>
                            <tr>
                                <td class="table_name">First&nbsp;Name: </td>
                                <td><input type="text" name="Fname" style="width: 200px" required /></td>
                            </tr>
                            <tr>
                                <td class="table_name">&nbsp;Last&nbsp;Name: </td>
                                <td><input type="text" name="Lname" style="width: 200px" required /></td>
                            </tr>

                            <tr>
                                <td class="table_name">Income: </td>
                                <td><input type="number" min="0" size="10"name="Income" style="width: 200px"/></td>
                            </tr>
                            <tr>
                                <td class="table_name">Age: </td>
                                <td><input type="number" min="0" size="10"name="Age" style="width: 200px" /></td>
                            </tr>
                            <tr>
                                <td class="table_name">Marriage: </td>
                                <td>
                                    <select name="marriage">
                                        <option selected="selected" name="1" value="unknown" >unknown</option>
                                        <option  name="1" value="yes">yes</option>
                                        <option  name="1" value="no">no</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="table_name">Gender: </td>
                                <td>
                                    <select name="gender">
                                        <option selected="selected"name="2" value="male" style="height: 30px">male</option>
                                        <option name="2" value="female">female</option>

                                    </select>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>

            <tr>
                <td>
                    <table width="85%" border="0" cellspacing="2" cellpadding="0" style="font-size: 15px">
                        <tr>
                            <td align="right"><input type="submit" value="Submit" /></td>
                            <td><input type="reset" value="Reset" /></td>

                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>
</div>
<div>
    <form id="reg_form_B" name="reg_form_B" method="post" action="addUser" style="display: none;">
        <table width="450" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <th scope="col">Sign&nbsp;Up</th>
            </tr>

            <tr>
                <td>
                    <fieldset>
                        <legend>Business&nbsp;Information</legend>
                        <table width="85%" border="0" align="center" cellpadding="0" cellspacing="2">
                            <tr>
                                <td><input type="hidden" name="customerType" value="Business"/></td>
                            </tr>
                            <tr>
                                <td class="table_name">UserName</td>
                                <td><input type="text" name="Username" required/></td>
                            </tr>
                            <tr>
                                <td class="table_name">&nbsp;Password</td>
                                <td><input type="password" name="Password"  title="" required /></td>
                            </tr>
                            <tr>
                                <td class="table_name">Check&nbsp;PassWord</td>
                                <td><input type="password"name="checkPassword" required/></td>
                            </tr>
                            <tr>
                                <td class="table_name">Company Name</td>
                                <td><input type="text" name="company_name" required/></td>
                            </tr>
                            <tr>
                                <td class="table_name">E-mail</td>
                                <td><input type="email" name="email" required /></td>
                            </tr>
                            <tr>
                                <td class="table_name">Annual Income</td>
                                <td><input type="number" name="annual_income" min="0"/></td>
                            </tr>
                            <tr>
                                <td class="table_name">Category</td>
                                <td>
                                    <select name="category">
                                        {volist name="business_category" id="vo"}
                                        <option  name="3" value="{$vo.business_categoryID}">{$vo.business_category_name}</option>
                                        {/volist}

                                    </select>
                                </td>
                            </tr>

                        </table>
                    </fieldset>
                </td>
            </tr>

            <tr>
                <td>
                    <table width="85%" border="0" cellspacing="2" cellpadding="0">
                        <tr>
                            <td align="right"><input type="submit" value="Submit" /></td>
                            <td><input type="reset" value="Reset" /></td>

                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>

</html>